boy {
  min-height: 600px;
}

.navbar img {
  padding-right: 0.8rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffd966;
}

#mengapa {
  background-color: #ffd966;
}

#products {
  background-color: #ffd966;
}

#testimoni {
  background-color: #ffd966;
}

#filosofi {
  background-color: #ffd966;
}

#kontak {
  background-color: #ffc107;
}

#moto {
  background-color: #ffd966;
}

#profil {
  background-color: #ffd966;
}

#background {
  background-color: #ffd966;
}

#footer {
  background-color: #ffc107;
}

.navbar1 {
  background-color: #ffd966;
}

#event {
  background-color: #ffd966;
}

.pendahuluan {
  color: rgb(104, 103, 103);
}

.alasan {
  color: rgb(58, 58, 58);
}
